:root {
  --mobile: 600px;
  --tablet: 1024px;
  --desktop: 1280px;
  --color-main: red;
  --nb-rows: 5;
}


@media screen and (min-width: 1280px) {
  ol {
    display: none;
  }
  :root {
    --nb-rows: 7;
    --color-main: blue;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --nb-rows: 3;
    --color-main: purple;
  }
}

@media screen and (max-width: 600px) {
  ol {
    color: black;
  }
  :root {
    --nb-rows: 2;
    --color-main: green;
  }
}

.pokedex {
  display: flex;

  max-width: 1200px;
  margin: 0 auto;
}

ol {
  display: grid;
  flex: 2;
  grid-template-columns: repeat(var(--nb-rows), 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  padding: 10px;

  color: var(--color-main);
  border-right: 1px solid black;
}
