@keyframes display-details {
    from {
      opacity: 0;
    } to {
      opacity: 1;
    }
}

@keyframes border-pkmnname {
    from {
      transform: scaleX(0);
    } to {
      transform: scaleX(1);
    }
}

@keyframes sprite-shadow {
    from {
      filter: drop-shadow(0px 0px 0px #000);
    } to {
      filter: drop-shadow(10px -1px 2px #000);
    }
}

.pkmn-popup {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  overflow-x: hidden;
  overflow-y: auto;
}

.pkmn-details {
  background-color: whitesmoke;
  padding: 15px;
  max-width: 500px;
  margin: 30px auto;
  border-radius: 3px;

  &--show {
    animation: display-details 1s;
  }
}

header {
  min-height: 150px;
  margin-bottom: 15px;
  text-align: center;
}

.pkmn-details__sprite {
  img {
    animation: sprite-shadow .3s forwards;
    animation-delay: .5s;
  }
}

figure {
  position: relative;

  figcaption {
    position: absolute;
    text-align: left;
    font-size: 50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &:after {
      content: '';
      position: absolute;
      height: 7px;
      left: 0;
      right: 0;
      bottom: 9px;
      animation: border-pkmnname .5s;
      transform-origin: center left;
      background-color: red;
      transition-duration: .15s;
      z-index: -1;
    }
  }
}

.pkmn-details__covers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 10px;
  grid-auto-rows: minmax(50px, auto);
  text-align: center;
}

.characteristics li {
  display: inline-block;
}

.characteristics li:after {
  content: ' | ';
}

.characteristics li:last-child:after {
  content: '';
}
