.pkmn-details {
  flex: 1;
  padding: 0 15px;
}

header {
  min-height: 150px;
  margin-bottom: 15px;
}

h1 {
  text-align: left;
  font-size: 50px;
  position: relative;
}

h1:after {
  content: '';
}


.covers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 10px;
  grid-auto-rows: minmax(50px, auto);
}

.characteristics {
}

.characteristics li {
  display: inline-block;
}

.characteristics li:after {
  content: ' | ';
}

.characteristics li:last-child:after {
  content: '';
}
