.btn {
    &--reset {
        outline: none;
        border: 0;
        background: none;
        padding: 0;
        margin: 0;
    }
}

a {
  &.link--btn {
    padding: 10px;
    text-decoration: none;
    display: block;
    border-width: 1px;
    border-style: solid;
    &:hover {
      background-color: rgba(0, 0, 0, .3);
    }
  }
}

body.popin {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
